@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> signInManager;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Webdevelopment_Project</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/carousel.css" rel="stylesheet"/>
</head>
<body>
<header>
   <nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark">
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
          <li class="nav-item dropdown">
                    <button type="button" class="btn btn-dark dropdown-toggle bg-dark" data-toggle="dropdown">Menu</button>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" asp-area="" asp-controller="Chat" asp-action="Index">Chat </a>
                    </div>
                </li>
                <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index"><img src="" alt = "Zorg"></a>
        </ul>

    <ul class="navbar-nav mx-lg-auto">
        <li class="nav-item active">
        <form class="form-inline my-2 my-md-0">
            <input class="form-control" type="text" placeholder="Search">
        </form>
        </li>
        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Contact">Contact </a>
        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="OverOns">Over ons </a>
    </ul>
    <ul class="navbar-nav ml-auto">
                        @if (signInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <form method="post" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                                    <button type="submit" class="nav-link btn btn-link"> Logout @User.Identity.Name </button>
                                </form>
                            </li>
                        }

                        @if (signInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <form method="get" asp-area="Identity" asp-page="/Account/Manage/Index" >
                                    <button type="submit" class="nav-link btn btn-link"> Profile @User.Identity.Name </button>
                                </form>
                            </li>
                        }

                        @if(!signInManager.IsSignedIn(User))
                        {
                        <li class="nav-item">
                                <form method="get" asp-area="Identity" asp-page="/Account/Login">
                                    <button type="submit" class="nav-link btn btn-link"> Login </button>
                                </form>
                            </li>
                        }
                        @if(!signInManager.IsSignedIn(User))
                        {
                        <li class="nav-item">
                                <form method="get" asp-area="Identity" asp-page="/Account/Register">
                                    <button type="submit" class="nav-link btn btn-link"> Register </button>
                                </form>
                            </li>
                        }
                    </ul>
        </div>
    </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Webdevelopment_Project - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>