@model Webdevelopment_Project.Models.Report

@{
    ViewData["Title"] = "Details over melding";
}

<h1>Details over melding</h1>

<div>
    <h2>Melding</h2>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reden)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reden)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicationUser.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ReportId">Bewerken</a> |
    <a asp-action="Index">Terug</a>
</div>
