@model Webdevelopment_Project.Models.Afspraak

@{
    ViewData["Title"] = "Verwijderen";
}

<h1>Vewijderen</h1>

<h2>Weet je zeker dat je dit wilt verwijderen?</h2>
<div>
    <h3>Afspraak</h3>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClientEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClientEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HulpverlenerEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HulpverlenerEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Start)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Start)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Eind)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Eind)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Onderwerp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Onderwerp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GoedkeuringVoogd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GoedkeuringVoogd)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="AfspraakId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="IndexAfspraak">Terug naar lijst</a>
    </form>
</div>
