@model IEnumerable<ApplicationUser>
@ViewData["blockt"] 
@{
    ViewData["Title"] = "blockeren";
}

<h1>Gebruikers</h1>


   


<table class="table">
    <thead>
        <tr>
            <th>
                Voornaam
            </th>
            
            <th>
                Email
            </th>
            <th>
                Deblokkeren/blokkeren
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var user in Model) {
        <tr>
            <td>
                @user.Voornaam
            </td>
               
            <td>
                @user.Email;
            
            <td>
            
                @if (((IEnumerable<ApplicationUser>)ViewData["blockt"]).Any(item => item.Id == user.Id))
                {
                    <form action="/Moderator/Blokkeren" method="post">
                    <input type="hidden" id="id" name="id" value="@user.Id">
                    <input type="submit" value="deblokkeren">
                    </form>
                }else{
                    <form action="/Moderator/Blokkeren" method="post">
                    <input type="hidden" id="id" name="id" value="@user.Id">
                    <input type="submit" value="blokkeren">
                    </form>
                                        
                }
                
            </td>
        </tr>
}                
    </tbody>
</table>
